@model ProductDto
@{
    ViewData["Title"] = "جزئيات محصول";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">جزئیات محصول</h1>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body" style="text-align:right">
                    <h5 class="card-title fw-semibold mb-4">اطلاعات محصول</h5>
                    <div class="card">
                        <div class="card-body">
                                <div class="row">
                                    <div class="mb-3 col-4">
                                        <label asp-for="Name" class="form-label">نام محصول</label>
                                        <input type="text" asp-for="Name" value="@Model.Name" class="disabledTextInput form-control" readonly>
                                    </div>
                                    <div class="mb-3 col-4">
                                        <label asp-for="Description" class="form-label">توضیح محصول</label>
                                    <textarea type="text" asp-for="Description" value="@Model.Description" rows="5" cols="15" class="disabledTextInput form-control" readonly></textarea>
                                    </div>
                                    <div class="mb-3 col-4">
                                        <img src="/img/ProductImg/@Model.ImageAddress" alt="No Set Image" style="border-radius: 10px"  width="300" height="320"/>
                                    </div>
                                </div>
                            <a href="/Product/Index" class="btn btn-primary m-1">بازگشت</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

