@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset>
    <header>
        <h1 class="text-danger">Access Denied.</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </header>
</fieldset>
